<div class="project-all">
<h1> DEV's and QA's of Project <strong>"<%= @project.title.upcase %>"</strong> </h1>

<% users = User.all.order("role") %>

<table class="table table-bordered table-hover">
	
	<tr>
		<th>NAME</th>
		<th>ROLE</th>
		<th>EMAIL</th>
		<th>STATUS</th>
		<th>Add / Remove</th>
	</tr>

	<% users.each do |u| %>
	
	<% if u.role == "manager" || u.role == "user" %>

	<% else %>

	<tr>
		<td> <%= u.name %> </td>
		<td> <%= u.role.upcase %> </td>
		<td> <%= u.email %> </td>

			<% if @project.users.find_by(id: u.id) %>
			
				<td> Added </td>
				<td> <%= link_to 'Remove', project_remove_path(@project, user_id: u.id), class: "btn btn-danger", method: :delete%></td>

			<% else %>
			
				<td> <strong> NOT ADDED </strong> </td>
				<td><%= link_to 'Add',  project_add_path(@project, user_id: u.id), class: "btn btn-success", method: :put %> </td>

			<% end %>


		</td>
	
	</tr>
	
	<% end %>

	<% end %>
</table>
</div>



	
		


