<div class = "project-all">
<%= form_with(model: [ @project, @project.bugs.build ], :html => {:multipart => true } , local: true) do |form| %>

	<% if @bug.errors.any? %> <!-- checking if bug has any errors -->
  
  	<h2>Errors: </h2>
  
  		<ul>
    		<% @bug.errors.full_messages.each do |message| %> <!-- looping on errors,  -->
    		<div class = "alert-message"><li><%= message %></li></div> <!-- printing each error seperately -->
    		<% end %>
  		</ul> 
  	<%end%>

  	<div class= "txtb">
		<%= form.label :title %>
		<%= form.text_field :title %>
	</div>

	<div class=  "txtb">

		<%= form.label :description %>
		<%= form.text_area :description%>
	</div>

	<p>
		<%= form.label :type %>
		<%= form.select(:b_type, ['BUG', 'FEATURE']) %>
	</p>

	<div id="bug_status">
	<p>
		<%= form.label :status %>
		<%= form.select(:status , ['NEW', 'STARTED', 'RESOLVED']) %>
	</p>
	</div>

	<div id="feature_status" , style="display:none">
	<p>
		<%= form.label :status %>
		<%= form.select(:status , ['NEW', 'STARTED', 'COMPLETED'])%>
	</p>
	</div>


	</p>

	<p>
		<%= form.label :deadline %>
		<%= form.date_field :deadline %>
	</p>

	<p>
		<%= form.file_field :image %>
	</p>

	<p>
		<div class = "actions">
			<%= form.submit "Save", :class => "btn btn-primary" %>
		</div>
	</p>

	<%end%>
</div>
