<!DOCTYPE html>
<html>
  <head>
    <title>Bugzilla</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
        <%= link_to 'Home', projects_path%>

        <% if current_user %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        
        <% else %>
            <%= link_to 'Sign Up', new_user_registration_path %>
            <%= link_to 'Sign In',  new_user_session_path %>

        <% end %>
        <% if user_signed_in? %>
          <p><strong>Welcome: </strong> <%= current_user.name.upcase %> </p>
          <p><strong>Logged in as <%=current_user.role.upcase %></strong></p>
          <% end %>



    <%= yield %>
  </body>
</html>
